modLoader="javafml"
loaderVersion="[47,)"
license="MIT"
[[mods]]
modId="test1"
version="1.0"
displayName="Test Mod"
description="Test mod"
authors="${mod_authors}"
[[dependencies.${mod_id}]]
    modId="forge"
    mandatory=true
    versionRange="${forge_version_range}"
    ordering="NONE"
    side="BOTH"
[[dependencies.${mod_id}]]
    modId="minecraft"
    mandatory=true
    versionRange="${minecraft_version_range}"
    ordering="NONE"
    side="BOTH"
