name: Build Forge Mod

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build mod
      run: ./gradlew build

    - name: Upload mod jar
      uses: actions/upload-artifact@v4
      with:
        name: mod-jar
        path: build/libs/*.jar
